/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*----- GENERAL -----*/
body {
	margin: 25px 100px;
}

.clearfix {
	overflow: auto;
}

/*----- NAV -----*/
nav {
	width: 876px;
}

nav a {
	margin-right: 6%;
	color: gray;
}

nav a:hover {
	color: #00e600;
}

.logo {
	float: right;
	margin-top: -10px;
}

/*----- HEADER -----*/
header {
	height: 529px;
	position: relative;
	width: 876px;
}

h1 {
	width: 30%;
	text-align: center;
	font-size: 70px;
	margin: 0 0 0 85px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

button {
	background: none;
	border: 1px solid black;
	padding: 2px 25px;
	margin: 15px 0 0 60px;
	position: absolute;
	top: 70%;
	left: 11%;
}

.header-img {
	margin: 0;
	position: absolute;
	left: 497px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
} 

hr {
	display: inline-block;
	color: gray;
	width: 876px;
}

/*------ MAIN -------*/

/* Top content */
.top-content {
	width: 876px;
}

.top-left {
	display: inline-block;
	width: 50%;
	margin: 3% 0;
}

.top-right {
	float: right;
	width: 50%;
	margin: 3% 0;
}

/* Bottom content */
.btm-content {
	width: 876px;
}

.btm-left {
	display: inline-block;
	margin: 3% 0;
	padding: 10px;
	width: 33%;	
}

.btm-center {
	display: inline-block;
	margin: 3% 0;
	padding: 10px;
	width: 33%;	
}

.btm-right {
	display: inline-block;
	margin: 3% 0;
	padding: 10px;
	width: 33%;		
}

/* ----- CONTACT ----- */
.contact {
	width: 876px;
	text-align: left;
}

.contact h3 {
	display: inline-block;
	margin-top: 3%;
}

address a {
	display: inline-block;
	margin: 1% 0;
}

/*----- FOOTER -----*/
footer {
	width: 876px;
}

footer p {
	margin: 3% 0;
	text-align: center;
}